<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chan · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      function expand(element) {
	  element.classList.toggle("imageFull")
	  element.classList.toggle("imageThumb")
      }
    </script>
  </head>
  <body>
    <div class = "container">
      <% boards = Chan.Boards.list_boards() %>
      <% [head | tail] = boards%>
      <div id = "navbar">
	<span class = "navbar"><a href="/boards/<%= head.abb %>/"><%= head.abb %></a>
	  <%= for b <- tail do %>
	      / <a href="/boards/<%= b.abb %>/"><%= b.abb %></a><% end %></span><span class= "navbar"><a href = "https://github.com/an-nihil00/chan/">github</a> / <a href = "https://twitter.com/Anarcho_Juche">twitter</a></span>
	      </div>
      <hr>
      <%= @inner_content %>
      <div class = "footer">
      </div>
    </div>
    <script type="text/javascript">
      twemoji.parse(document.body);
    </script>
  </body>
</html>
