<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chan · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <% boards = Chan.Boards.list_boards() %>
    <div id = "navbar">
      <span class = "navbar"><% [head | tail] = boards %><a href="/<%= head.abb %>/"><%= head.abb %></a>
	<%= for b <- tail do %>
	    / <a href="/<%= b.abb %>/"><%= b.abb %></a><% end %></span>
	    </div>
    <hr>
    <%= @inner_content %>
  </body>
</html>
