/* This file is for your main application css. */

$font-stack:'terminus','inconsolata',monospace;

body {
    background-color:black;
    color:white;
    font-family:$font-stack;
    font-size:10pt;
    paddin: 0px 5px;
}

#wrapper {
    display:flex;
    flex-direction: column;
    width:auto;
}

h1 {
    color:white;
    text-align:center;
    font-family:$font-stack;
    font-size:28px;
    font-weight:700;
    margin:0px;
}

hr {
    width:100%;
    height:1px;
    border:none;
    border-top:1px solid #555;
}

hr.abovePostInput {
    width:90%;
}

#input {
    min-width:500px;
    margin:auto;
    display: flex;
    flex-direction: column;
}

#togglePostForm {
    text-align:center;
    font-size:22px;
}

#postButton {
    width:55px;
}

a {
    color:#e60073;
    cursor:pointer;
}

a:hover {
    color:#a5427e;
}
.inputRow {
    display: flex;
    flex-direction: row;
    flex-grow:1;
    font-size:10pt;
}

.inputRow * {
    border: 1px solid grey;
    outline-color: #e60073;
    margin: 1px;
}

.inputRow input {
    width:245px;
    padding: 2px 4px;
}

.inputRow input[type=file] {
    border: none;
    padding: 0px;
}

.inputRow textarea {
    width:300px;
    height:60px;
    padding: 2px 4px;
    font-family: arial,helvetica,sans-serif;
    font-size:10pt;
}

.inputLabel {
    width:90px;
    padding: 0px 5px;
    border:1px solid #000;
    background-color:#555;
    display:flex;
    font-weight:700;
    color:#bbb;
}

.inputLabel p {
    margin:auto 0px;
    border:none;
}

#board {
    margin:0px;
    padding:0px;
    border:0px;
    background-color:white;
}

.thread {

}

.postInfo {
    display:block;
}

.subject {
    font-weight:700;
    color:#e60073;
}

.name {
    font-weight:700;
}

.comment {
    margin: 1em 40px;
}

.file {

}

.postWrapper {
    display:flex;
    flex-flow:row;
}

.post {
    background-color:#333;
    padding: 2px;
    margin: 2px 0px;
    overflow:hidden;
}

.sideArrows {
    margin:0px 2px;
}
