/* This file is for your main application css. */

$font-stack:'terminus','terminus (ttf)','inconsolata',monospace;
$accent-color1:#e60073;
$accent-color2: #9D5F8D;
$text-color1:white;
$text-color2:#aaa;

body {
    background-color:black;
    color:white;
    font-family:$font-stack;
    font-size:12pt;
    padding: 0px 5px;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 0px;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.navbar::before {
    content: "[";
}

.navbar::after {
    content: "]";
}

.navbar a {
    text-decoration: none;
}

.navbar a:link, .navbar a:visited {
    color:white;
}

.navbar a:hover {
    color:$accent-color1;
}

hr {
    border: none;
    border-top:1px solid white;
    height:0px;
}

.abovePostForm {
    width:90%;
}

#postForm table {
    margin: auto;
    width: 468px;
}

#postForm th {
    text-align: left;
    padding: 1px 5px;
    font-size: 12pt;
    font-weight: 700px;
    border: 1px solid white;
}

#postForm input[type="text"], button, textarea {
    font-size:12pt;
    padding: 1px 5px;
    margin: 0px;
    border: 1px solid white;
    background: black;
    color: white;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

#postForm input[type="text"] {
    width: 244px;
}

textarea {
    font-family:$font-stack;
    width: 292px;
    height: 76px;
}

#postForm button {
    margin-left:4px;
}

#postForm button:hover {
    color:$accent-color1;
}

.intro {
    margin:0;
}

.subject {
    color:$accent-color1;
    font-weight:700;
}

.name {
    color:$accent-color2;
    font-weight: 700;
}

.timestamp {
    color:$text-color2;
}

.timestamp a {
    color:$text-color2;
}

.button {
    color:$text-color1;
}

.button::before {
    content:'['
}

.button::after {
    content:']'
}

.button {
    text-decoration:none;
}

.button:hover {
    color:$accent-color1;
}

.intro a {
    text-decoration:none;
}

.timestamp a:hover {
    color:$accent-color1;
    text-decoration:underline;
}

.postContainer {
    display:flex;
}

.sideArrows {
    color:$text-color2;
    margin: 0 2px;
    float:left;
}

.reply {
    background:#333;
    padding:6px;
    border: 1px solid #222;
    margin:4px 0;
}

.replyText {
    margin: .06em 1.8em;
    white-space: pre-line;
}

#threads {
    text-align:center;
}

.catalog {
    width: 180px;
    max-height: 320px;
    display:inline-block;
    margin: 5px 0 20px;
    padding: 5px 0 3px;
    vertical-align:top;
    overflow:hidden;
}

.meta {
    font-weight:700;
}

.catalog.subject {
    color:$accent-color2;
    font-weight:700;
}

.teaser {
    display:block;
    word-wrap:break-word;
}

.help-block {
    color:red;
}


