/* This file is for your main application css. */

$font-stack:'terminus','terminus (ttf)','inconsolata',monospace;
$accent-color1:#e60073;
$accent-color2: #9D5F8D;
$green-text: #B8D962;
/*$accent-color1:#446655;
$accent-color2: #32DD72;*/
$text-color1:white;
$text-color2:#aaa;
$background-color:black;
$reply-background:#333;
$reply-border:#222;
$error-color:red;

body {
    background-color:$background-color;
    color:$text-color1;
    font-family:$font-stack;
    font-size:16px;
    padding: 0px 5px;
    /*width:80%;
    margin:0 auto;*/
}

#homeBanner {
    width:80%;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 0px;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.navbar::before {
    content: "[";
}

.navbar::after {
    content: "]";
}

.navbar a {
    text-decoration: none;
}

.navbar a:link, .navbar a:visited {
    color:$text-color1;
}

.navbar a:hover {
    color:$accent-color1;
}

hr {
    border: none;
    border-top:1px solid $text-color1;
    height:0px;
}

.abovePostForm {
    width:90%;
}

#postForm table {
    margin: auto;
    width: 468px;
}

th {
    text-align: left;
    padding: 1px 5px;
    font-weight: 700px;
    border: 1px solid $text-color1;
}

td {
    padding: 0;
}

input[type="text"], input[type="password"], button, textarea {
    font-size:12pt;
    padding: 1px 5px;
    margin: 0px;
    border: 1px solid $text-color1;
    background: $background-color;
    color: $text-color1;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

#postForm input[type="text"] {
    width: 244px;
}

input[type="password"] {
    font-family: sans-serif;
    font-size:10pt;
}

textarea {
    font-family:$font-stack;
    width: 292px;
    height: 76px;
}

button {
    margin-left:4px;
}

button:hover {
    color:$accent-color1;
}

.thread {
    overflow: hidden;
}

.intro {
    margin:0;
}

.subject {
    color:$accent-color1;
    font-weight:700;
}

.name {
    color:$accent-color2;
    font-weight: 700;
}

.trip {
    color:$accent-color2;
}

.timestamp {
    color:$text-color2;
}

.timestamp a {
    color:$text-color2;
}

.button {
    color:$text-color1;
}

.button::before {
    content:'['
}

.button::after {
    content:']'
}

.button {
    text-decoration:none;
}

.button:hover {
    color:$accent-color1;
}

.intro a {
    text-decoration:none;
}

.timestamp a:hover {
    color:$accent-color1;
    text-decoration:underline;
}

.postContainer {
    display:flex;
}

.sideArrows {
    color:$text-color2;
    margin: 0 2px;
    float:left;
}

.reply {
    background:$reply-background;
    padding:6px;
    border: 1px solid $reply-border;
    margin:4px 0;
    max-width:94%;
}

.replyText {
    margin: .06em 0 .06em 1.8em;
    white-space: pre-line;
}

#threads {
    text-align:center;
}

.catalog {
    width: 180px;
    max-height: 320px;
    display:inline-block;
    margin: 5px 0 20px;
    padding: 5px 0 3px;
    vertical-align:top;
    overflow:hidden;
}

.meta {
    font-weight:700;
}

.catalog.subject {
    color:$accent-color2;
    font-weight:700;
}

.teaser {
    display:block;
    word-wrap:break-word;
}

.help-block {
    color:$error-color;
}

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.2em;
}

.disabled {
    color:$text-color2;
}

.disabled::before {
    content: '[';
}

.disabled::after {
    content: ']';
}

.recent {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    width:700px
}

.column {
    width:50%;
    margin: 0 5px;
}

.stats {
    width:690px;
    margin: 0 5px;
}

.header {
    width:100%;
    background-color:$accent-color1;
    color:$background-color;
}

h2 {
    font-weight: 700;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    color: $text-color2;
}

.summary {
    color: $text-color2;
}

.deleteForm {
    float: right;
    display: flex;
}

#postForm #password {
    width: 122px;
}

.greenText {
    color: $green-text;
}

.redText {
    color: #c00;
}

.opImageThumb {
    max-width: 250px;
    max-height: 250px;
    float: left;
    margin: 3px 20px 5px;
}

.imageThumb {
    max-width: 125px;
    max-height: 125px;
    float: left;
    margin: 3px 20px 5px;
}
