<% [head | tail] = @thread.posts %>
<div class = "thread">
  <%= render(ChanWeb.ThreadView, "op.html", op: head, thread_id: @thread.id, board_id: @board_id, subject: @thread.subject, conn: @conn) %>
  <%= for p <- tail do %>
    <%= render(ChanWeb.ThreadView, "reply.html", post: p, thread_id: @thread.id, board_id: @board_id, conn: @conn) %>
    <% end %>
  </div>
<hr>


